* {
    margin: 0;
    padding: 0;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
}

header nav {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
}

header h1 {
    color: #181717;
    font: 500 50px DM Sans;
    line-height: 97.2%;
    letter-spacing: -1.5px;

}

header nav p {
    color: #181717;
    font: 500 22px DM Sans;
    line-height: 120%;
    letter-spacing: -0.66px;
}

.preview {
    margin-top: 120px;
}

.preview .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview .info h1 {
    color: #181717;
    font: 500 60px DM Sans;
    line-height: 97 .2%;
    letter-spacing: -1.8px;
    align-items: center;
}

.preview .info p {
    color: #606060;
    font: 400 32px DM Sans;
    line-height: 117%;
    letter-spacing: -0.96px;
}

.img-arrow {
    background-image: url(./↓.png);
    width: 34px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 128px;
    margin-bottom: 83px;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.project-1,
.project-2,
.project-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}
.project-1,.project-2 {
    border-bottom: 1.5px solid #181717;
    padding-top: 114px;
   padding-bottom: 108px;
}
.project-3 {
    padding-top: 114px;   
}


.project h2 {
    color: #181717;
    font: 500 24px DM Sans;
    line-height: 121.5%;
    letter-spacing: -0.72px;
}

.project p {
    font: 400 22px DM Sans;
    line-height: 121.5%;
    letter-spacing: -0.66px;
}

.text1 {
    color: #181717;
}

.text2 {
    color: #606060;
}

.text3 {
    color: #181717;
    text-decoration-line: underline;
    padding-top: 260px;
}


.img-rectangle {
    background-image: url(./Thumbnail.png);
    width: 640px;
    height: 365px;
    background-size: contain;
    background-repeat: no-repeat;

}

footer {
    display: flex;
    justify-content: space-between;
}

footer h3 {
    color: #2429AF;
    font: 500 22px DM Sans;
    line-height: 120%;
    letter-spacing: -0.66px;
}

footer nav {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-around;
}

footer nav p {
    color: #181717;
    font: 500 22px DM Sans;
    line-height: 120%;
    letter-spacing: -0.66px;
}