* {
    margin: 0;
    padding: 0;
    font-style: normal;
}

body {
    background: #F3F3F3;
    width: 1200px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
}

header nav {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
}

header h1 {
    color: #181717;
    font: 500 50px DM Sans;

}

header nav p {
    color: #181717;
    font: 500 22px DM Sans;
}

.preview {
    margin-top: 120px;
}

.preview .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview .info h1 {
    color: #181717;
    font: 500 60px DM Sans;
    align-items: center;
    width: 360px;
}

.preview .info p {
    color: #606060;
    font: 400 32px DM Sans;
    line-height: 117%;
    letter-spacing: -0.96px;
}

.img-arrow {
    background-image: url(../assets/↓.png);
    width: 34px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 128px;
    margin-bottom: 83px;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.project-1,
.project-2,
.project-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.project-1,
.project-2 {
    border-bottom: 1.5px solid #181717;
    padding-top: 114px;
    padding-bottom: 108px;
}

.project-3 {
    padding-top: 114px;
}


.project h2 {
    color: #181717;
    font: 500 24px DM Sans;
    padding-bottom: 25px;
}

.project p {
    font: 400 22px DM Sans;
    width: 356px;
    /* height: 169px; */
}

.text1 {
    color: #181717;
}

.text2 {
    color: #606060;
    padding-top: 20px;
}

.text3 {
    color: #181717;
    text-decoration-line: underline;
    padding-top: 156px;
}


.img-rectangle {
    background-image: url(../assets/Thumbnail.png);
    width: 640px;
    height: 365px;
    background-size: contain;
    background-repeat: no-repeat;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 128px;
}

footer h3 {
    color: #2429AF;
    font: 500 22px DM Sans;
}

footer nav {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-around;
}

footer nav p {
    color: #181717;
    font: 500 22px DM Sans;
}